<% include partials/header %>
<a href="/users/profile"> <button type="submit" class="btn btn-default">Back To My profile</button></a>
<h2 class="page-header">Your Projects</h2>

<body>
 <div class="col-xs-12 col-sm-8 col-md-10">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="/user_uploads/<%= req.user.foto %>" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-md-6">
                    <ul>
                    <h4>

                        <li>
                        Links:
                        
                           <% req.user.links.forEach(function(link){ %>
  <p> <%=link%> </p>  
<% }) %>

 <P><br></P>
                        </li>
                        <P><br></P>
                       
                         
                            <li> screenshots: 
                            <% if(req.user.screenshots[0]!=''){%>
                                                    <% req.user.screenshots.forEach(function(screenshot){ %>
   <img src="/user_uploads/<%= screenshot %>" alt="" class="img-rounded img-responsive" /> 
    <P><br></P>
<%}) %>
<% } %>
                           </li>
                        </h4>
                    </div>
                </div>
            </div>
            </div>
            </body>

<% include partials/footer %>

  